ul
{
    display:flex;
    justify-content:center;
}
li
{
    text-transform:uppercase;
    display:inline;
    margin-right:-5px;
    font-size:1.8rem;
    font-family:monospace;
    font-weight:bolder;
    padding:30px;
    background:rgb(231, 50, 255);
    color:rgb(255, 255, 255);
    cursor:pointer;
    transition:all 0.3s;
}
li:hover
{
    background:rgb(205, 1, 228);
}
a
{
    text-decoration:none;
    color:white;
}
body
{
    background:rgb(251, 198, 255);
}