#welcome
{
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    height:120px;
    font-size:5.4rem;
    font-family:monospace;
}
#label
{
    justify-content:center;
    align-items:center;
    text-align:center;
    height:60px;
    font-size:1.2rem;
    font-family:monospace;
}
#needsize
{
    text-align:center;
    font-family:monospace;
}
#setsize
{
    display:flex;
    justify-content:center;
    align-items:center;
}
#enter
{
    display:flex;
    justify-content:center;
    align-items:center;
    height:120px;
}
#enterbutton
{
    text-transform:uppercase;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:0px;
    font-size:1.8rem;
    font-family:monospace;
    font-weight:bolder;
    padding:30px;
    background:rgb(231, 50, 255);
    color:rgb(255, 255, 255);
    cursor:pointer;
    transition:all 0.1s;
    height:25px;
    width:150px;
}
#enterbutton:hover
{
    background:rgb(205, 1, 228);
}
#enterbutton:active
{
    background:rgb(171, 29, 190);
    transition:all 0.1s;
}
td
{
    text-align:center;
    justify-content:center;
    align-items:center;
    height:10px;
    width:15px;
    padding:0px;
    font-size:1rem;
    font-family:monospace;
    font-weight:bold;
}
table
{
    display:block;
    border-collapse:collapse;
}
#playground
{
    display:flex;
    justify-content:center;
    align-items:center;
}
#buttons
{
    display:flex;
    justify-content:center;
    align-items:center;
    height:150px;
    position:fixed;
    bottom:0px;
    left:50%;
    transform: translateX(-50%);
}
.option
{
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    height:60px;
    width:60px;
    background:rgb(231, 50, 255);
    color:rgb(255, 255, 255);
    border-style:solid;
    border-color:rgb(102,0,51);
    cursor:pointer;
    font-size:21px;
    font-family:monospace;
    font-weight:bolder;
    visibility:hidden;
}
.option:hover
{
    background:rgb(205, 1, 228);
    transition:all 0.1s;
}
.option:active
{
    background:rgb(171, 29, 190);
    transition:all 0.1s;
}
#left
{
    transform:rotate(180deg);
}
#up
{
    transform:rotate(270deg);
}
#down
{
    transform:rotate(90deg);
}
body
{
    align-content:center;
}