#welcome
{
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    height:120px;
    font-size:5.4rem;
    font-family:monospace;
}
#label
{
    justify-content:center;
    align-items:center;
    text-align:center;
    height:60px;
    font-size:1.2rem;
    font-family:monospace;
}
.square
{
    text-align:center;
    justify-content:center;
    align-items:center;
    height:45px;
    width:45px;
    background-color:rgba(233, 233, 233, 0.5);
    border-width:3px;
    border-style:solid;
    border-color:rgb(102,0,51);
    cursor:pointer;
    font-size:1.8rem;
    font-family:monospace;
    font-weight:bolder;
    opacity:0.8;
}
.square:hover
{
    opacity:1;
    background-color:rgb(225, 202, 221);
}
.square:active
{
    background-color:rgb(168, 202, 247);
}
table
{
    border-collapse:collapse;
}
.box
{
    justify-content:center;
    align-items:center;
    height:150px;
    width:150px;
    padding:0px;
    border-style:solid;
    border-color:rgb(102,0,51);
    opacity:0.8;
}
.board
{
    display:flex;
    border-collapse:collapse;
    justify-content:center;
    align-items:center;
}
body
{
    align-content:center;
}